.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../assets/register_background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.register-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-box h1 {
    margin-bottom: 20px;
    color: #333;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-form input:focus {
    border-color: #828282;
    outline: none;
}

.submit-button {
    background: #A9A9A9; /* Less bright, construction-related color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
}
