.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/login_background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.email-confirmation-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    text-align: center;
}

.email-confirmation-box h2 {
    margin-bottom: 20px;
}

.email-confirmation-box p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
