.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Измените цвет фона, если необходимо */
}

.welcome-video {
    width: 100%;
    height: auto;
}
